<div>
    <div class = "form-group-import">
        <h2>Import XML from somewhere</h2>
        <p>Input will be the prefix for the compendiums created</p>
        <input  id="compendium-input" name="compendium-input" value="xml"></input>
        <h2>Paste the XML into the box below and click "Import".</h2>
        <textarea id="all-xml" name="all-xml" rows="10" cols="50"></textarea>
        <input type="submit" class="import-xml" value="Import">
    </div>
</div>